.multibox {
  background: #fff;
  color: $dark;
  padding: 10px;
  position: relative;
  cursor: pointer;
  .multibox--owned{
      display: flex;
      flex-flow: row nowrap;
      overflow: hidden;
      
  }
  .inner-multibox {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 10;
    background: #fff;
    height: 150px;
    overflow: auto;
    .inner-multibox--search {
      border-bottom: 1px solid $secondary;
      padding: 10px;
      input {
        width: 100%;
        font-size: 16px;
        padding: 5px 0px;
        text-indent: 5px;
      }
    }
    .inner-multibox--list {
      padding: 5px 10px;
    }
  }
}
